https://github.com/AppleBotzz/Backup-Anthropic-Builds/raw/main/anthropic-0.21.3-py3-none-any.whl #Buggy
https://github.com/AppleBotzz/Backup-OpenAI-Builds/raw/main/openai-1.16.2-py3-none-any.whl #Also buggy